scripts_and_notebooks/.ipynb_checkpoints/*
cp
files
images*
*@eaDir
*.csv
HP_scan*
images
*.pt
*.json
*.npy
*.npz
analysis
*.dat
ppv_npv_scan*
ppv_npv_preds*
models*
baseline_plus_aux_data*
results*
baseline*
.pytest_cache
__pycache__/
.idea/
